
/* body */
body {
  background-image: url("../Imagens/web/bg.png");
  background-repeat: no-repeat;
  background-position: left  bottom 50%;
  background-attachment: fixed;
  /* background-position: center top 24%; */
  /* background-position: center top 40%; */
  background-size: cover;
  position: relative;
}
.fas{
  font-size: 7.0rem;
}
@media (max-width:768px) {
  body {
    background-image: none;
  }
  .fas{
    font-size: 4.0rem;
  }

}
