
/* body */
body {
  background-image: url("../Imagens/web/bg.png");
  background-repeat: no-repeat;
  background-position: left  bottom 30%;
  background-attachment: fixed;
  /* background-position: center top 24%; */
  /* background-position: center top 40%; */
  background-size: cover;
  position: relative;
}
.fas{
  font-size: 7.0rem;
}
@media (max-width:768px) {
  body {
    background-image: none;
  }
  .fas{
    font-size: 4.0rem;
  }

}
#card-3{
  background:
  url(../Imagens/web/s4\ ft3.png) no-repeat center center;
  background-size: 100% 100%;
}
#card-2{
  background:
  /* linear-gradient(to right ,rgba(26,55,76,.7)  45% , transparent  ), */
  url(../Imagens/web/s4\ ft2.png) no-repeat center center;
  background-size: 100% 100%;
}
#card-1{
  background:
  /* linear-gradient(to right ,rgba(26,55,76,.7)  45% , transparent  ), */
  url(../Imagens/web/s4\ ft1.png) no-repeat center center;
  background-size: 100% 100%;

}
@media (min-width:768px) {
  .card{
    height: 600px;
    width:250px;
  }
  
}